/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background:#465e78;
	margin:1em 0;
}
.wrap{
	width:95%;
	margin:0 auto;	
}
/*start header*/
.header{
	background: #ffffff;
	position:relative;
}
.menu{
	float:left;
	margin-left:2em;
}
.menu1{
	display:inline-block;
	float:left;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* Basic Styles */
nav {
	width: 100%;
	font-size: 1em;
}
nav ul {
	width: 100%;
	position: absolute;
	top:4em;
	padding: 0;
	margin: 0 auto;
	display: none;
	background: #56CCC8;
}
nav li {
	display: block;
}
nav a {
	color: #fff;
	display: block;
	width:100%;
	text-indent: 10px;
	text-align: left;
	text-decoration: none;
}
nav img{
	padding:20px 10px 12px 10px;
}
nav li a {
	border-bottom: 1px solid #40B4B4;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:10px;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #40B4B4;
}
nav a#pull {
	float: left;
	display: block;
	background-color: #56CCC8;
	width: 60px;
	position: relative;
}
/*start search*/
.web_search{
	float:left;
}
.srch{
	margin:16px 10px;
}
.srch button{
	cursor:pointer;
	background:url('../images/sprite.png') no-repeat -240px -8px;
	width:25px;
	height:25px;
	display:block;
	border: none;
	outline: none;
}
.srch button:hover{
	background-position:-240px -41px;
}
.search{
	position:absolute;
	bottom:-6em;
	left:0;
	display:block;
	z-index:100;
	background: #56CCC8;
	width:94%;
	height:60px;
	padding:3%;	
}
.search:after {
	content: '';
	position: absolute;
	left:10px;
	top:-10px;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #56CCC8;
}
.search form{
	position:relative;
	background:#fff;
}
.search input[type="text"],.search input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	border:none;
	color:#5d5d5d;
	outline:none;
	width:inherit;
	padding:inherit;
	font-size:14px;
	margin:inherit;
	-webkit-appearance: none;
	margin:0;
}
.search input[type="text"]{
	background:none;
	padding:10px;
	width:75%;
}
.search input[type="text"]:focus{
	color:#5d5d5d;
}
.search input[type="submit"]{
	position: absolute;
	top:6px;
	right:6px;
	background:url('../images/sprite.png') no-repeat -240px -8px;
	height: 25px;
	width: 25px;
	cursor:pointer;
}
.close{
	position:absolute;
	bottom:0px;
	right:-10px;
	color:#fff;
	padding: 0px 20px 0px 0px;
	cursor:pointer;
}
.header_top_right{
	float:right;
	position:relative;
}
/* start social-icons  */
.social-icons {
	float: left;
	border-left: 1px solid rgb(216, 216, 216);
	border-right: 1px solid rgb(216, 216, 216);
}
.social-icons ul{
	margin:16px 15px;
}
.social-icons li {
	width: 24px;
	height: 24px;
	padding-left:10px;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	vertical-align:middle;
}
.social-icons li:first-child{
	padding-left:0;
}
.social-icons li.icon_1 {
	background:url(../images/icon_1.png) no-repeat 0px  -24px;
}
.social-icons li.icon_1:hover {
	background:url(../images/icon_1.png) no-repeat 0px  0px;
}
.social-icons li.icon_2 {
	background:url(../images/icon_2.png) no-repeat 10px  -24px;
}
.social-icons li.icon_2:hover {
	background:url(../images/icon_2.png) no-repeat 10px  1px;
}
.social-icons li.icon_3 {
	background:url(../images/icon_3.png) no-repeat 12px  -22px;
}
.social-icons li.icon_3:hover {
	background:url(../images/icon_3.png) no-repeat 12px  1px;
}
/* start login_box */
.login_box{
	float: right;
	margin:16px 10px;
}
.login_box p{
	float:left;
}
.login_box p a.signup{
	color:#5d5d5d;
	font-size:0.8em; 
    padding-right:10px;
    border-right:1px solid #888; 
}
/*-------LOGIN STARTS HERE -------*/
#loginContainer {
    position:relative;
    width:25px;
	height:25px;
	display: block;
}
/* Login Button */
#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Button Text */
#loginButton span {
	background:url('../images/sprite.png') no-repeat -290px -7px;	
	 width:25px;
	 height:25px;
	 display: block;
}
#loginButton span:hover{
	background-position:-290px -36px;	
}
#loginButton.active span {
  background-position:-290px -36px;
}
/* Login Box */
#loginBox {
    position:absolute;
    top:25px;
    right:-10px;
    display:none;
    z-index:29;
}
/* Login Form */
#loginForm {
	float:right;
    width:280px; 
    margin-top:30px;
	background:#2C4766;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
#loginForm:after {
	content: '';
	position: absolute;
	right:20px;
	top:20px;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #2C4766;
}
#loginForm fieldset {
    margin:0 0 10px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    padding:15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 5px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
#body label {
   	color:#CFD9E0;
    margin:8px 0 0 0;
    display:block;
    float:left;
    font-size:0.8em;
}
#loginForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
}
#body label i{
	color: #D5EDFF;
	text-shadow: 1px 1px #000;
}
/* Default Input */
#loginForm input {
    width:92%;
    border: 1px solid #e5e5e5;
	color: #5d5d5d;
	background: #f9f9f9;
    padding:8px 8px;
    font-size:0.85em;
}
/* Sign In Button */
#loginForm #login {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
    width:auto;
    float:left;
	background: #EA6060;
    color:#fff;
    font-size:0.8em;
    padding:7px 10px 8px 10px;
    border:none;
    margin:0 12px 0 0;
    cursor:pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
    -webkit-appearance:none;
}
#loginForm #login:hover {
	background: #56CCC8;
}
/* Forgot your password */
#loginForm span {
    display:block;
    padding:0px 15px 15px 15px;
}
#loginForm span a{
    color:#D5EDFF;
    font-size:0.8em;
}
#loginForm span a:hover{
	text-decoration:underline;
}
input:focus {
    outline:none;
}
/* start main */
.main{
	margin:10px 0;
}
.sidebar{
	float:none;
	width:100%;
}
.sidebar1{
	float:none;
	width:100%;
	margin-top:10px;
}
.content{
	float: left;
	width:100%;
}
/* start sidebar */
/*sidebar_grid*/
.sidebar_grid{
	background:#c5cdd0;
	padding:15px;
	margin-top:10px;
}
.grid_s {
	margin-top: 10px;
}
.grid_s1{
	margin:15px 0;
}
.grid_img{
	float: left;
	width:14.333%;
	margin-right:3%;
}
.grid_img i{
	width:32px;
	height:32px;
	display:block;
	background: url('../images/sprite.png') no-repeat;
}
.grid_img i.phone{
	background-position:-228px -154px;
}
.grid_img i.location{
	background-position:-228px -194px;
}
.grid_img i.mail{
	background-position:-225px -233px;
}
.grid_text{
	float: left;
	width:82.333%;
}
.grid_text p{
	font-size: 1em;
	color: #ffffff;
	padding:2px 0;
}
.grid_text p a{
	color:#ffffff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.grid_text p a:hover{
	color:#152840;
}
/* end sidebar */
/*start menu_box_list */
.menu_box_list{
	background: #ffffff;
}
.menu_box_list li a{
	display:block;
	color:#464f54;
	font-size:1em;
	border-bottom: 1px solid #dddddd;
	padding:14px 15px;
	-webkit-transition: 0.5s linear;
     -moz-transition: 0.5s linear;
     -o-transition: 0.5s linear;
     -ms-transition:0.5s linear;
     transition: 0.5s linear;	
}
.menu_box_list li a > i{
	width:30px;
	height:30px;
	display:inline-block;
	background:url(../images/sprite.png) no-repeat;	
	vertical-align:middle;
	transition:none;
}
.menu_box_list li a:hover > i{
	background:url(../images/sprite.png) no-repeat;	
}
.menu_box_list li a:hover,.menu_box_list li.active a{
	 color: #ffffff;
	 background-color:#56CCC8;
}
.menu_box_list li a span{
	padding-left:15px;
}
.menu_box_list li a > i.home{
	background-position:0px 0px;
}
.menu_box_list li a:hover > i.home{
	background-position:-40px 0px;
}
.menu_box_list li a > i.store{
	background-position:0px -42px;
}
.menu_box_list li a:hover > i.store{
	background-position:-40px -42px;
}
.menu_box_list li a > i.blog {
	background-position:0px -82px;
}
.menu_box_list li a:hover > i.blog,.menu_box_list li.active a > i.blog{
	background-position:-40px -82px;
}
.menu_box_list li a > i.community {
	background-position:0px -120px;
}
.menu_box_list li a:hover > i.community{
	background-position:-40px -120px;
}
.menu_box_list li a > i.contest {
	background-position:0px -156px;
}
.menu_box_list li a:hover > i.contest{
	background-position:-40px -156px;
}
.menu_box_list li a > i.about {
	background-position:0px -197px;
}
.menu_box_list li a:hover > i.about{
	background-position:-40px -197px;
}
.menu_box_list li a > i.contact {
	background-position:0px -236px;
}
.menu_box_list li a:hover > i.contact{
	background-position:-40px -236px;
}
/* end menu_box_list */ 
/* start search*/
.soc_right{
	position:relative;
	width: 15.3333%;
	float:right;
}
/* end search*/
/* start sidebar1 */
.sidebar1_grid{
	padding:15px;
}
.sidebar1_grid.bg1{
	background: #152840;
	border-bottom:1px solid #465E78;
}
.sidebar1_grid.bg2{
	border-bottom: 1px solid #465E78;
	background: #263A54;
}
.sidebar1_grid.bg1:nth-child(4){
	border: none;
}
.left{
	float:left;
}
h2.style{
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;
	color: #56CCC8;
	text-transform: capitalize;
}
.right{
	float: right;
}
.right i.tick-arrow {
	width: 26px;
	height: 26px;
	display: block;
	background: url('../images/sprite.png') no-repeat -376px -50px;
}
.nav2{
	margin-top:9.5px;
}
.nav2 li{
	display: inherit;
}
.nav2 li a{
	padding: 2.4px 0;
	line-height: 1.8em;
	display:inline-block;
	font-size: 0.925em;
	color:#CFD9E0;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.nav2 li a:hover{
	color: #FFF;
}
/* staet content */
.content_left{
	float:none;
	width:100%;
	margin-top:10px;
}
.content_right{
	float:none;
	width:100%;
}
.nav3{
	background: #ffffff;
	padding:15px;
}
.nav3 li a span{
	padding-left:15px;
}
.nav3 li a > i.facebook{
	background-position: -112px -6px;
}
.nav3 li a:hover > i.facebook {
	background-position:-167px -6px;
}
.nav3 li a > i.twitter {
	background-position:-112px -55px;
}
.nav3 li.active a > i.twitter{
	background-position:-167px -55px;
}
.nav3 li a > i.google{
	background-position:-112px -107px;
}
.nav3 li a:hover > i.google{
	background-position:-168px -107px;
}
.nav3 li a > i.rss{
	background-position:-112px -154px;
}
.nav3 li a:hover > i.rss{
	background-position:-168px -154px;
}
.nav3 li a > i.pinterest{
	background-position:-113px -198px;
}
.nav3 li a:hover > i.pinterest{
	background-position:-168px -198px;
}
.nav3 li a {
	line-height: 2.2em;
	padding: 8px 0px;
	font-family: 'Open Sans', sans-serif;
	display: block;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 1em;
	color:#464F54;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.nav3 li a > i{
	width:32px;
	height:32px;
	display:inline-block;
	background:url(../images/sprite.png) no-repeat;
	vertical-align:top;
}
.nav3 li a.facebook:hover{
	color:#4d6bab;
}
.nav3 li a.twitter:hover,.nav3 li.active a{
	color:#4FC6F8;
}
.nav3 li a:hover > i{	
	background:url(../images/sprite.png) no-repeat;
}
.nav3 li a.google:hover{
	color:#ea6060;
}
.nav3 li a.rss:hover{
	color:#e19126;
}
.nav3 li a.pinterest:hover{
	color:#bd1b30;
}
/* start widget */
.widgets{
	display:block;
	margin-top:10px;
}
.widget.bg1{
	padding:15px;
	background:#4d6bab;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.widget.bg1:hover{
	background:#4B67A3;
}
.widget.bg2{
	cursor:pointer;
	padding:15px;
	background:#4ec6f8;
	margin-top:10px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.widget.bg2:hover{
	background: #41B6E5;
}
.nav4 {
	margin:5% 0;
}
.nav4 li.top{
	margin-top: 5px;
}
.nav4 li span{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color:#ffffff;
}
.nav4 li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #ffffff;
	line-height: 1.8em;
}
.nav4 li a i{
	width:26px;
	height:26px;
	display:inline-block;
	background: url('../images/sprite.png') no-repeat;
	vertical-align:text-bottom;
	margin-left:5px;
}
.nav4 li a i.plus{
	background-position:-377px -9px;
}
.nav4 li a i.follow{
	background-position:-377px -50px;
}
/* content_btm */
.content_btm{
	margin-top:10px;
	background: #ffffff;
	padding:15px;
}
.content_btm_grid h2{
	font-size: 1.5em;
	color:#464F54;
	font-weight:600;
}
.content_btm_grid p{
	margin-top:10px;
	font-size: 0.85em;
	line-height:1.6em;
	color:#464F54;
}
.nav5{
	text-align:center;
	margin-top: 4%;
}
.nav5 li{
	display: inline-block;
	margin-left: 10px;
}
.nav5 li:first-child{
	margin-left:0;
}
.nav5 li a{
	display:block;
}
.nav5 li a i{
	width:36px;
	height:36px;
	display:block;
	background: url('../images/sprite.png') no-repeat;
}
.nav5 li a i.facebook{
	background-position:-230px -98px;
}
.nav5 li a i.twitter{
	background-position:-284px -98px;
}
.nav5 li a i.googleplus{
	background-position:-335px -98px;
}
.nav5 li a i.likedin{
	background-position:-387px -98px;
}
/*search*/
.search1{
	margin-top: 4%;
}
.search1 input[type="text"]{
	outline: none;
	padding:8px;
	color: #202020;
	background: #FFFFFF;
	border: 1px solid #dddddd;
	width: 62.33%;
	display:inline-block;
}
.search1 input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	background: #EA6060;
	color:#ffffff;
	font-size:0.8em;
	display:inline-block;
	text-transform:uppercase;
	padding: 8px 10px;
	border: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-appearance:none;
}
.search1 input[type="submit"]:hover {
	background: #56CCC8;
}
/* end main */
/* start content style */
.content_left1{
	width:100%;
	float:none;
}
.content_right1{
	width:100%;
	float:none;
	margin-top:10px;
}
.video-player iframe{
	width:100%;
	height:160px;
}
.content_left1_grid{
	padding:15px;
	background: #ffffff;
	position: relative;
}
.grid_left1{
	position: absolute;
	left:0px;
	margin-top:10px;
}
.grid_left1 i{
	width:25px;
	height:25px;
	display:block;
	background: url('../images/sprite.png') no-repeat;
}
.video{
	padding:8px;
	background:#ea6060;
}
.grid_left1 i.video-icon{
	background-position:-13px -288px;
}
.camera{
	padding:8px;
	background:#4fc6f8;
}
.grid_left1 i.camera-icon{
	background-position:-64px -288px;
}
.article{
	padding:8px;
	background:#4bc7c7;
}
.grid_left1 i.article-icon{
	background-position:-115px -289px;
}
.quote{
	padding:8px;
	background:#4bc7c7;
}
.grid_left1 i.quote-icon{
	background-position:-163px -289px;
}
.grid_right1{
	margin-left: 15%;
	width: 88%;
	float: left;
}
.content_left1_grid h3 a{
	text-transform: capitalize;
	font-size:1.5em;
	font-weight:900;
	color: #464F54;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.content_left1_grid h3 a:hover{
	color: #EA6060;
}
.content_left1_grid h4 a{
	text-transform: capitalize;
	font-size:1.2em;
	color: #464F54;
	font-weight:900;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.content_left1_grid h4 a:hover{
	color: #4FC6F8;
}
.content_left1_grid span{
	color: #BCC1C4;
	font-weight:200;
}
.content_left1_grid p{
	margin-top:7%;
	font-size:0.95em;
	color:#272D30;
	line-height: 1.8em;
	font-weight:300;
}
.content_left1_grid p a{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #EA6060;
	text-transform:capitalize;
}
.content_left1_grid p a:hover{
	color:#464F54;
	text-decoration:underline;
}
/* start content_bottom style */
.content_bottom{
	margin:10px 0;
}
.sidebar_left{
	width:100%;
	float:none;
}
.sidebar_right{
	width:100%;
	float:left;
	margin-top:10px;
}
.sidebar_left_grid {
	background: #1F3045;
	padding: 8%;
}
.h_grid{
	display: inline-block;
	width:40%;
}
.h_grid h4{
	margin-top:15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #ffffff;
	line-height: 1.8em;
}
.h_grid a{
	display: block;
}
.h_grid a i{
	width:36px;
	height:36px;
	display:block;
	background: url('../images/sprite.png') no-repeat;
}
.h_grid a i.share{
	background-position:-410px -153px; 
}
.h_grid a i.share:hover{
	background-position:-410px -200px; 
}
.h_grid a i.like{
	background-position:-342px -155px;
}
.h_grid a i.like:hover{
	background-position:-342px -206px;
}
.span_1_of_1{
	float:none;
	width:100%;
}
.span_1_of_2{
	float:none;
	width:100%;
}
.span_1_of_2 img{
	width:100%;
}
.grid_1_of_1{
	margin-top:10px;
	background: #4FC6F8;
}
.grid_1_of_1_text{
	padding:15px;
}
.grid_1_of_1 h3{
	font-size: 1em;
	color: #ffffff;
	font-weight:700;
}
.grid_1_of_1 h3 a{
	font-size: 0.85em;
	color:#ffffff;
	text-transform: lowercase;
	font-weight:normal;
}
.para{
	padding:15px;
	border-top:1px solid #ACE6FF;
	border-bottom:1px solid #ACE6FF;
}
.top{
	margin-top:1em;
}
.right i.right-arrow{
	width:25px;
	height:25px;
	display:block;
	background: url('../images/sprite.png') no-repeat -332px -10px;
}
.para p{
	line-height: 1.8em;
	font-size:1em;
	color:#ffffff;
	font-weight:200;
}
.para p a{
	color: #ffffff;
	font-weight:700;
}
.para1{
	border:none;
}
.grid_1_of_2{
	margin-top:10px;
	background: #ffffff;
}
.grid_1_of_2 h4{
	font-size: 1.5em;
	color: #464F54;
	font-weight:600;
	padding:20px;
	border-bottom: 1px solid #dddddd;
}
.grid_1_of_2.box{
	padding:15px;
}
.grid_1_of_2.box h3{
	font-size: 1.5em;
	color: #464F54;
	font-weight:700;
}
/*  GRID OF Content with Image   ============================================================================= */
.image {
	padding:15px;
}
.grid {
	display: block;
	float:left;
	margin-left:4%;
}
.grid:first-child { margin-left: 0; }

.images_3_of_1 {
	width:27.3%;
}
.span_2_of_3{
	width: 68.5%;
}
.images_3_of_1  img {
	margin-top:5px;
}
.span_2_of_3  h3 a{
	font-size: 1em;
	color:#52575a;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	line-height:1.6em;
}
.span_2_of_3  h3 a:hover{
	color: #EA5F5F;
}
.span_2_of_3  p  {
	font-size:0.8725em;
	color: #acacac;
	line-height: 1.8em;
	margin-top: 8px;
}
.searh_form form input[type="text"],.searh_form form textarea{
	margin:8% 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8725em;
	color: #555;
	padding: 8px;
	display: block;
	width: 92%;
	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	outline: none;
	-webkit-appearance: none;
}
.searh_form form textarea{
	resize: none;
	height: 100px;
}
.searh_form form input[type="text"].active{
	border:1px solid  #56CCC8;
}
.searh_form form input[type="submit"] {
	font-family: 'Open Sans', sans-serif;
	background: #EA6060;
	color: #ffffff;
	font-size: 1em;
	text-transform: uppercase;
	padding: 8px 20px;
	border: none;
	cursor: pointer;
	line-height: 1.5em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-appearance:none;
}
.searh_form form input[type="submit"]:hover{
	background: #56CCC8;
}
.searh_form form  input[type="text"]:focus,.searh_form form textarea:focus {
	border: 1px solid #56CCC8;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	box-shadow: 0px 1px 2px #E0E0E0;
	-webkit-box-shadow: 0px 1px 2px #E0E0E0;
	-moz-box-shadow: 0px 1px 2px #E0E0E0;
	-o-box-shadow: 0px 1px 2px #E0E0E0;
}
/* start calender and stories */
.cal_of_storie{
	margin-top:10px;
}
.column_right_grid {
	background: #324864;
}
.calender{
	float:none;
	width:100%;
}
.stories{
	float:none;
	width:100%;
	margin-top:10px;
}
.stories a{
	display: block;
	padding:1em 10%;
	background: #EA6060;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.stories a:hover{
	background: #FD6868;
}
.stories_text{
	text-align:center;
}
.stories_text h3{
	width: 80%;
	margin: 0 auto;
	font-size: 1.5em;
	color: #ffffff;
	font-weight:200;
	text-transform:uppercase;
}
.btn1{
	margin: 3% 0 20% 0;
	text-align:center;
	position: relative;
	display: block;
}
.btn1 h4{
	text-align:center;
}
.btn_a{
	background: url('../images/sprite.png') no-repeat -284px -152px;
	position: absolute;
	width: 36px;
	height: 36px;
	left:40%;
}
/* end calender and stories*/
/* start span_1_of_3*/
.span_1_of_3_img{
	margin-top:15px;
}
.span_1_of_3_img img{
	width:100%;
}
.span_1_of_3_grid {
	padding:1em 2% 1em 17%;
	background: #ffffff;
	position: relative;
}
.span_1_of_3_left {
	position: absolute;
	left: -1px;
	float: left;
}
.span_1_of_3_text {
	margin-left: 4%;
}
.span_1_of_3_text h3 a{
	font-size:1.5em;
	color:#475558;
	font-weight:700;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.span_1_of_3_text h3 a:hover{
	color: #4BC7C7;
}
.span_1_of_3_text p{
	margin-top:4%;
	font-size:1em;
	color:#1B2022;
	line-height:1.8em;
	font-weight:300;
}
.span_1_of_3_text p a{
	color: #EA6060;
}
.span_1_of_3_text p a:hover{
	color:#555555;
	text-decoration:underline;
}
/***** Social Likes **********/
.span_1_of_3_nav{
	margin-top:0.5em;
}
.span_1_of_3_nav li {
	float: left;
}
.span_1_of_3_nav li.active a{
	color:#4FC6F8;
}
.span_1_of_3_nav li a span {
	padding-left:5px;
}
.span_1_of_3_nav li a i{
	width:25px;
	height:25px;
	display:inline-block;
	background: url('../images/sprite.png') no-repeat;
	vertical-align:sub;
}
.span_1_of_3_nav li a i.share_icon{
	background-position:-289px -262px;
}
.span_1_of_3_nav li a i.view_icon{
	background-position:-334px -260px;
}
.span_1_of_3_nav li a i.coment_icon{
	background-position:-378px -262px;
}
.span_1_of_3_nav li a {
	margin-right:10px;
	padding:5px 0px;
	font-family: 'Open Sans', sans-serif;
	display: block;
	text-transform: capitalize;
	text-decoration: none;
	font-size:0.8em;
	color: #555555;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.span_1_of_3_nav li:hover a{
	color: #56CCC8;
}
/* end span_1_of_3*/
/* start span_1_of_4*/
.span_1_of_4 {
	margin-top:10px;
}
.span_1_of_4_img{
	margin-top: 2.33333%;
}
.span_1_of_4_img img{
	width:100%;
	margin-bottom: -1%;
}
.span_1_of_4_grid {
	padding:15px 5px 15px 40px;
	background: #ffffff;
	position: relative;
}
.span_1_of_4_left {
	position: absolute;
	left: -2px;
	float: left;
}
.span_1_of_4_text {
	margin-left: 4%;
}
.span_1_of_4_text h3{
	font-size: 1em;
	color:#4a4e4d;
	line-height: 1.8em;
	font-style: italic;
}
/* end  span_1_of_4 */ 
/******** SAP ************/
.sap_tabs{
	clear:both;
	margin-top:10px;
}
.sap_tabs h3,.sap_tabs h3 a{
	color: #555555;
	font-size: 1.2em;
	font-weight:700;
}
.sap_tabs h4{
	font-size: 0.95em;
	color: #ACACAC;
}
.sap_tabs h3 a{
	font-size:.7em;
}
.sap_tabs h3 a:hover{
	text-decoration:underline;
}
.sap_tabs p{
	font-size: 0.95em;
	color: #272D30;
	line-height: 1.8em;
	font-weight: 300;
	padding: 18px 0;
}
.facts{
	padding: 4%;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 100%;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	border-left: 1px solid #465E78;
	color: #ffffff;
	font-size: 1em;
	background: #C5CDD1;
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
	cursor: pointer;
	padding:12px 0;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	width: 24.9%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.resp-tab-item:hover {
	background: #5BA4A4;
	text-shadow: none;
	color: #FFF;
}
.resp-tab-active{
	background: #FFF;
	text-shadow: none;
	color:#475558;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#C5CDD1;
	margin:10px 0;
	color:#FFF;
}
h2.resp-accordion:hover{
	background:#5BA4A4;
	text-shadow: none;
	color: #FFF;
}
.tab_style{
	margin-top:10px;
}
@media only screen and (max-width:480px) {
	.sap_tabs{
		padding-top:0;
	}
	.resp-tabs-container{
		padding:10px;
	}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
a.mail{
	color: #56CCC8;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
a.mail:hover {
	color: #555555;
}
.tab_style{
	float:none;
	width:100%;
}
.tab_left{
	margin-top:10px;
}
.tab_img{
	width:25%;
	float: left;
}
.tab_txt{
	width: 68%;
	float: left;	
	margin-top:10px;
	margin-left:15px;
}
.contact-form div{
	margin: 10px 0;
}
.contact-form label{
	color:#555555;
	font-size:0.8725em;
	text-transform:capitalize;
}
.contact-form input[type="text"],.contact-form textarea{
	font-family: 'Open Sans', sans-serif;
	font-size:0.8725em;
	color:#B8B6B6;
	padding: 8px;
	display: block;
	width: 92%;
	background: #FFFFFF;
	border:1px solid #E6E6E6;
	outline: none;
	-webkit-appearance: none;
	margin-top: 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.contact-form textarea{
	resize:none;
	height:100px;		
}
.contact-form input[type="text"]:focus,.contact-form textarea:focus{
	color:#555;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: 1px solid rgba(117, 95, 165, 0.05);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.contact-form input[type="submit"]{
	margin-top:2%;
	font-family: 'Open Sans', sans-serif;
	background: #EA6060;
	color: #ffffff;
	font-size:0.85em;
	text-transform: uppercase;
	padding: 8px 20px;
	border: none;
	cursor: pointer;
	line-height: 1.5em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-appearance:none;
}
.contact-form input[type="submit"]:hover{
	background: #56CCC8;
}
/*----copy-right-----*/
.copy-right{
	text-align:center;
	padding:1em 0;
}
.copy-right p{
	color:#CFD9E0;
	font-size: 0.8em;
	line-height:1.8em;
}
.copy-right p a{
	color:#56CCC8;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right p a:hover{
	color:#FFF;
	text-decoration:underline;
}




